.cards__content {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.cards__ul {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px;
}

.card {
  border: 3px;
  width: 300px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: white;
  margin-left: 20px;
  height: 500px;
}

.product__img {
  width: 300px;
}

/* export const ImgI = styled.div`
  // width: 100%;
  width: 300px;
  height: 400px;
`; */

.card__inf {
  width: 250px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.product__name {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;

  margin-bottom: 20px;
}

.product__cost {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
}

.product__btn {
  width: 100%;
  margin-bottom: 10px;
  cursor: pointer;
}

.btn__go {
  border: 0px;
  width: 100%;
  height: 30px;
  color: aliceblue;
  background-color: red;
}
