.cards__content {
  width: 1280px;
  margin: 0 auto;
}

.cards__ul {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px;
  flex-wrap: wrap;
  margin-left: -30px;
}

.card {
  border: 3px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: white;
  width: 300px;
  height: 500px;

  margin-top: 30px;
  flex-basis: calc(100% - 30px);
}

@media screen and (min-width: 768px) {
  .card {
    margin-left: 30px;
    flex-basis: calc(50% - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .card {
    margin-left: 30px;
    flex-basis: calc(33.333% - 30px);
  }
}

.product__img {
  width: 300px;
}

.card__inf {
  width: 250px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.product__name {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  margin-bottom: 20px;
}

.product__cost {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
}

.product__btn {
  width: 100%;
  margin-bottom: 10px;
  cursor: pointer;
}

.btn__go {
  border: 0px;
  width: 100%;
  height: 30px;
  color: aliceblue;
  background-color: red;
}