.hide {
  transform: translateY(-32px);
  /* margin-top: -32px; */
}

.delimiter {
  opacity: 0.3;
  margin: 0 16px 0 16px;
}

.row_line {
  display: flex;
  color: #413d58;
  justify-content: center;
  align-items: center;
}



#navbar {
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  display:block;
  transition: top 0.3s;
}

#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-size: 17px;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}