.item {
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.main-container {
  height: calc(100vh - 60px);
  display: flex;
  align-items: center;
  /* margin: -60px 0 0 0; */
}

.window {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-repeat: no-repeat;
}

.all-pages-container {
  height: 100%;
  width: 100%;
  display: flex;
  transition: translate;
  transition-property: transform;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
}

.arrow {
  cursor: pointer;
  height: 60px;
}

.left {
  position: absolute;
  z-index: 1000;
  background-color: red;
  margin-left: 1%;
}

.right {
  position: absolute;
  z-index: 1000;
  background-color: red;
  margin-left: 98%;
}

.dots {
  width: 100%;
  position: absolute;
  top: calc(100vh - 50px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.dots li {
  width: 15px;
  height: 15px;
  background: #fff;
  margin: 0 10px;
  border-radius: 50%;
  opacity: 0.5;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

@media screen and (max-width: 575px) {
  .dots {
    top: calc(50vh + 20px);
  }

  .dots li {
    width: 13px;
    height: 13px;
  }

  .main-container {
    height: 50vh;
    margin: 0;
  }
}

.dots li:hover {
  opacity: 0.7;
}

.dots .active {
  opacity: 1;
}

.dots .active:hover {
  opacity: 1;
}

.fotoDiv {
  height: calc(100vh);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-width:100%;
  max-width: 100%;
}

.a {
  position: absolute;
  left: 0%;
}

.b {
  position: absolute;
  left: 100%;
}

.c {
  position: absolute;
  left: 200%;
}

.d {
  position: absolute;
  left: 300%;
}

@media screen and (max-width: 575px) {
  .images1 {
    width: 100%;
    height: 50vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(../../images/jpg/014-little.jpg);
  }
}

@media screen and (min-width: 576px) and (max-width: 1023px) {
  .images1 {
    background-image: url(../../images/jpg/014.jpg);
  }
}

@media screen and (min-width: 1024px) and (max-width: 1399px) {
  .images1 {
    background-image: url(../../images/jpg/014-middle.jpg);
  }
}

@media screen and (min-width: 1400px) {
  .images1 {
    background-image: url(../../images/jpg/014-big.jpg);
  }
}

@media screen and (max-width: 575px) {
  .images2 {
    width: 100%;
    height: 50vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0;
    background-image: url(../../images/jpg/015-little.jpg);
  }
}

@media screen and (min-width: 576px) and (max-width: 1023px) {
  .images2 {
    background-position: 0;
    background-image: url(../../images/jpg/015.jpg);
  }
}

@media screen and (min-width: 1024px) and (max-width: 1399px) {
  .images2 {
    background-position: 0;
    background-image: url(../../images/jpg/015-middle.jpg);
  }
}

@media screen and (min-width: 1400px) {
  .images2 {
    background-position: 0;
    background-image: url(../../images/jpg/015-big.jpg);
  }
}

@media screen and (max-width: 575px) {
  .images3 {
    width: 100%;
    height: 50vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(../../images/jpg/016-little.jpg);
  }
}

@media screen and (min-width: 576px) and (max-width: 1023px) {
  .images3 {
    background-image: url(../../images/jpg/016.jpg);
  }
}

@media screen and (min-width: 1024px) and (max-width: 1399px) {
  .images3 {
    background-image: url(../../images/jpg/016-middle.jpg);
  }
}

@media screen and (min-width: 1400px) {
  .images3 {
    background-image: url(../../images/jpg/016-big.jpg);
  }
}

@media screen and (max-width: 575px) {
  .images4 {
    width: 100%;
    height: 50vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(../../images/jpg/017-little.jpg);
  }
}

@media screen and (min-width: 576px) and (max-width: 1023px) {
  .images4 {
    background-image: url(../../images/jpg/017.jpg);
  }
}

@media screen and (min-width: 1024px) and (max-width: 1399px) {
  .images4 {
    background-image: url(../../images/jpg/017-middle.jpg);
  }
}

@media screen and (min-width: 1400px) {
  .images4 {
    background-image: url(../../images/jpg/017-big.jpg);
  }
}