.item {
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.item-1 {
  background-color: red;
}

.item-2 {
  background-color: orange;
}

.item-3 {
  background-color: green;
}

.main-container {
  height: 700px;
  width: 1200px;

  display: flex;
  align-items: center;
  margin: 20px auto;
}

.window {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.all-pages-container {
  height: 100%;
  display: flex;

  transition: translate;
  transition-property: transform;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
}

.arrow {
  cursor: pointer;
}

.Img1 {
  background-image: url("../../images/jpg/img1.jpg");
  width: 1200px;
  background-size: cover;
}
.Img2 {
  background-image: url("../../images/jpg/img4.jpg");
  width: 1200px;
  background-size: cover;
}
.Img3 {
  background-image: url("../../images/jpg/img3.jpg");
  width: 1200px;
  background-size: cover;
}
.Img4 {
  background-image: url("../../images/jpg/img2.jpg");
  width: 1200px;
  background-size: cover;
}
