.item {
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.main-container {
  height: 106vh;
  display: flex;
  align-items: center;
  margin: -60px auto -60px auto;
}

.window {
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin-top: -121px;
  background-repeat: no-repeat;
}

.all-pages-container {
  height: 100%;
  display: flex;
  transition: translate;
  transition-property: transform;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
}

.arrow {
  cursor: pointer;
  height: 60px;
}

.left {
  position: absolute;
  z-index: 1000;
  background-color: red;
  margin-left: 1%;
}

.right {
  position: absolute;
  z-index: 1000;
  background-color: red;
  margin-left: 98%;
}

.dots {
  width: 100%;
  position: absolute;
  bottom: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dots li {
  width: 15px;
  height: 15px;
  background: #fff;
  margin: 0 10px;
  border-radius: 50%;
  opacity: 0.5;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.dots li:hover {
  opacity: 0.7;
}

.dots .active {
  opacity: 1;
}

.dots .active:hover {
  opacity: 1;
}

.images1 {
  height: 100%;
}
@media screen and (min-width: 575px) {
  .images1,.images2,.images3,.images4 {
    width: 800px;
  }
}
@media (min-width: 1024px) and (max-width: 1400px) {
  .images1,.images2,.images3,.images4 {
    width: 1400px;
  }
}
@media screen and (min-width: 1400px) {
  .images1,.images2,.images3,.images4 {
    width: 1920px;
  }
}