.img1{
    background-image: url(../../images/jpg/100.jpg);
}

.img2{
    background-image: url(../../images/jpg/101.jpg);
}

.img3{
    background-image: url(../../images/jpg/102.jpg);
}

.img4{
    background-image: url(../../images/jpg/103.jpg);
}

.white{
    background-color: #fff;
}

.light{
    background-color: antiquewhite;
}