/* .product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  
  .product-card {
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin: 10px;
    text-align: center;
    transition: transform 0.3s ease;
  }
  
  .product-card:hover {
    transform: scale(1.05);
  }
  
  .product-image {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
  }
  
  .product-details {
    padding: 10px;
    background-color: #f9f9f9;
  }
  
  .product-title {
    font-size: 18px;
    margin: 10px 0;
  }
  
  .product-price {
    font-size: 16px;
    color: #007bff;
  }
  
  .add-to-cart-btn {
    background-color: #007bff;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .add-to-cart-btn:hover {
    background-color: #0056b3;
  }
  
  @media (max-width: 768px) {
    .product-card {
      width: 100%;
      margin: 10px 0;
    }
  } */



  .product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .product-card {
    width: 300px;
    max-width: 100%;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin: 10px;
    text-align: center;
    transition: transform 0.3s ease;
  }
  
  .product-card:hover {
    transform: translateY(-5px);
  }
  
  .product-image {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
  }
  
  .product-info {
    padding: 15px;
  }
  
  .product-title {
    font-size: 20px;
    margin: 10px 0;
  }
  
  .product-price {
    font-size: 18px;
    color: #007bff;
    font-weight: bold;
  }
  
  .add-to-cart-btn {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .add-to-cart-btn:hover {
    background-color: #0056b3;
  }
  
  /* Адаптивность для мобильных устройств */
  @media (max-width: 768px) {
    .product-card {
      width: 100%;
      margin: 10px 0;
    }
  }