:root {
  --accent-dark: #3ca654;
  --accent-light: #4b66eb;
  --bg-dark: #060606;
  /* --bg-light: #e9eaee; */
  --bg-light: #fff;
}

body {
  margin: 0;
  padding-top: 92px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f6f7fb;
 
}

@media screen and (max-width: 1024px) {
  body {
    padding-top: 60px;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.layout {
  background-color: var(--bg-light);
  color: #222;
  height: 100%;
}

.layout.dark {
  background-color: var(--bg-dark);
  color: #fff;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

li {
  list-style: none;
}

a {
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  color: #fff;
}

ul,
ol {
  margin-bottom: 0;
  margin-top: 0;
  margin-left: 0;
  padding-left: 0;
  padding-right: 0;
}

img {
  display: block;
}
